@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

html {
  font-size: calc(60% + 0.8vmin);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Permanent Marker, sans-serif;
  font-size: 3.5em;
  color: #A9A9A9;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #A9A9A9;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  font-family: Permanent Marker, sans-serif;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0 1em 0 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

li a:link, menu a:visited, menu a:active {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: none;
  color: #A9A9A9;
}

img {
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  color: #A9A9A9;
  line-height: 1.25em;
  padding: 20px 100px 20px 100px;
}

.content1 {
  display: flex;
  flex-direction: row;
  padding: 0px 35px;
  justify-content: flex-end;
}

.content2 {
  display: flex;
  flex-direction: row;
  padding: 10px 35px;
  justify-content: flex-end;
}

.content3 {
  display: flex;
  padding: 5px 200px 0px 400px;
}

.content4 {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.box1, .box2 {
  flex: 1;
}

.content5 {
  display: flex;
  flex-direction: row;
  padding: 0px 35px 20px 50px;
  justify-content: safe flex-start;
}

.content6 {
  padding: 5px 600px 50px 150px;
}


@media (max-width: 800px) {
  .body {
    flex-direction: column;
  }

  h1 {
    font-size: 2.25em;
  }
  
  p {
    font-size: 1.5em;
  }
  
  .header, 
  .content1, 
  .content2, 
  .content3, 
  .content4, 
  .content5, 
  .content6 {
  padding: 5px 15px;
  flex-direction: column;
  }

  .nav {
  padding-right: 10px;
  }

  .menu {
  padding: 5px;
  }

  .footer {
  font-size: 1.75em;
  }

}
